body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

article {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

header, footer {
    background-color: #E3DED0;
}

.site-title {
    color: #5a3a4d;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobbies {
    list-style-type: square;
}

.hobbies li:nth-child(odd){
    background-color: #A9D5DB;
}

nav a{
    text-decoration: none;
    color: #393045; 
}

nav a {
    background-color: #C4BACC;
    border: 1px solid black;
    padding: 8px 15px;
    margin-right:8px;
}

nav a:hover,nav a:focus {
    background-color: #E0B6AF;
}

.about-section {
  border: 5px solid #613F53;
  padding: 25px;
  margin: 30px 0;

}

